* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Montserrat;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
header {
    width: 100%;
    min-height: 323px;
    display: flex;
}

.zagtxt{
    padding: 50px;
    width: 784px;
}
.zagimg {
  padding: 50px;
}
.imgplace{
    background-color: #FFF;
  width: 469px;  
    height: 214px;
}
.spisok {
    padding-top: 10px;
    color: white;
}
.zagtxt2{ 
    width: 649px;
    padding: 50px;
   
    
}
.zagimg2{
    padding:50px;
    background-color:  #FFF;
    width: 631px;
    height: 245px;
}
.imgplace2 {
    background-color: #445161;
   width: 430px;
    height: 245px;
}

.tmp1 {
    display: flex;
    justify-content: space-between;
}

.p1{
    font-family: Arial;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
}

.p2{
    padding-top: 50px;
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
}

.p3{
    padding-top: 20px;
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
}


footer {
    min-height: 25px;
}
.contglob {
    width: 1280px;
    background-color: #FFF;
}

.color1 {
     background-color: #445162;
 }
 
.color2 {
    background-color: #FFFFFF;
     display: flex;
}
.color3 {
     background-color: #eeeeee; /* f5f5f5 */
 }
 
.ptb50 {
    padding: 50px 0 50px 0px;
    
   }
.hzag {
    font-family: Arial;
    display: block;
    color:  #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

</style>
</body>
</html>