* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Montserrat;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
header {
    width: 100%;
    min-height: 323px;
    display: flex;
}
.spisok{
    width: 422px;
    font-family: Arial;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
   
}

li{
    padding-bottom: 20px;
    list-style-image: url(check.png);
}





.zagtxt{
    padding: 50px;
    width: 784px;
}
.zagimg {
  padding: 50px;
}
.imgplace{
    background-color: #FFF;
  width: 469px;  
    height: 214px;
}
.spisok {
    padding-top: 10px;
    color: white;
}
.zagtxt2{ 
    width: 649px;
    padding: 50px;
   
    
}
.zagimg2{
    padding:50px;
    background-color:  #FFF;
    width: 631px;
    height: 245px;
}
.imgplace2 {
    background-color: #445161;
   width: 430px;
    height: 245px;
}

.tmp1 {
    display: flex;
    justify-content: space-between;
}

.p1{
    font-family: Arial;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
}

.p2{
    padding-top: 30px;
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
}

.p3{
    padding-top: 20px;
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
}


footer {
    min-height: 25px;
}
.contglob {
    width: 1280px;
    background-color: #FFF;
}

.color1 {
     background-color: #445162;
 }
 
.color2 {
    background-color: #FFFFFF;
}
.color3 {
     background-color: #eeeeee; /* f5f5f5 */
 }
.etoflex {
    display: flex;
}

.ptb50 {
    padding: 50px 0 50px 50px;
    
   }
.hzag {
    font-family: Arial;
    display: block;
    color:  #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    
}

.hzag2{
font-family: Arial;
color:  #445161;
font-size: 30px;
font-weight: 400;
text-align: center;
padding-bottom: 29px;
        
}
.ptext3{
    padding-left:5px;
    width: 526px;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 35px;
    padding-right: 23px;
}
.hzag4{
    font-family: Arial;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 35px;
}
.imgplace41{
    background-color:  #445161;
    width: 200px;
    height: 150px;
   
}
.textlace41 {
    padding-left: 10px;
    
}
.cont41 {
    display: flex;
}
.hzag41 {
    font-family: Arial;
    color:  #445161;
    font-size: 24px;
    font-weight: 400;    
    text-align: left;
    padding-left: 10px;
}
.text41 {
    width: 359px;
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
}

.cont42 {
    display: flex; padding-top: 30px;
}







</style>
</body>
</html>